In [1]:
!pip install cassandra-driver

Requirement already satisfied: cassandra-driver in /pyenv/lib/python3.10/site-packages (3.28.0)
Requirement already satisfied: geomet<0.3,>=0.1 in /pyenv/lib/python3.10/site-packages (from cassandra-driver) (0.2.1.post1)
Requirement already satisfied: six>=1.9 in /pyenv/lib/python3.10/site-packages (from cassandra-driver) (1.16.0)
Requirement already satisfied: click in /pyenv/lib/python3.10/site-packages (from geomet<0.3,>=0.1->cassandra-driver) (8.1.7)

In [2]:
from cassandra.cluster import Cluster
from ssl import SSLContext, PROTOCOL_TLSv1_2 , CERT_REQUIRED
from cassandra.auth import PlainTextAuthProvider

In [3]:
cluster_cassandra = Cluster(['127.0.0.1'], port=9042)

In [4]:
session_cassandra = cluster_cassandra.connect()

In [9]:
command = """
CREATE KEYSPACE IF NOT EXISTS suresh

WITH replication = {'class':'SimpleStrategy', 'replication_factor' : 2};
"""

In [10]:
session_cassandra.execute(command)

In [11]:
command = """
CREATE TABLE IF NOT EXISTS suresh.emp (
   no int PRIMARY KEY,
   name text)
"""

In [12]:
session_cassandra.execute(command)

In [16]:
command = """
USE suresh;
"""

In [17]:
session_cassandra.execute(command)

In [22]:
command = """
insert into suresh.emp (no, name) VALUES(1, 'Hemke')
"""

In [23]:
session_cassandra.execute(command)

In [26]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in /pyenv/lib/python3.10/site-packages (2.1.1)
Requirement already satisfied: tzdata>=2022.1 in /pyenv/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /pyenv/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /pyenv/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.22.4 in /pyenv/lib/python3.10/site-packages (from pandas) (1.26.0)
Requirement already satisfied: six>=1.5 in /pyenv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [38]:
dfemployees = pd.read_csv("employees.csv")

In [39]:
dfemployees

   no     name
0   1     Atin
1   2   Chetan
2   3    Badri
3   4   Satish
4   5   Suresh
5   6  Sandeep
6   7   Manish
7   8    Parul
8   9    Pooja
9  10  Jaynesh

In [41]:
for emp in dfemployees.iterrows():
    #print(emp[0])
    emp_no = emp[1][0]
    emp_name = emp[1][1]
    #print(emp_no, emp_name)
    #print("--------------")
    command = f"""
    insert into suresh.emp (no, name) VALUES({emp_no}, '{emp_name}')
    """
    session_cassandra.execute(command)

/tmp/ipykernel_6658/3522623643.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  emp_no = emp[1][0]
/tmp/ipykernel_6658/3522623643.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  emp_name = emp[1][1]