In [1]:
!pip install cassandra-driver

Requirement already satisfied: cassandra-driver in /pyenv/lib/python3.10/site-packages (3.28.0)
Requirement already satisfied: geomet<0.3,>=0.1 in /pyenv/lib/python3.10/site-packages (from cassandra-driver) (0.2.1.post1)
Requirement already satisfied: six>=1.9 in /pyenv/lib/python3.10/site-packages (from cassandra-driver) (1.16.0)
Requirement already satisfied: click in /pyenv/lib/python3.10/site-packages (from geomet<0.3,>=0.1->cassandra-driver) (8.1.7)

In [2]:
from cassandra.cluster import Cluster
from ssl import SSLContext, PROTOCOL_TLSv1_2 , CERT_REQUIRED
from cassandra.auth import PlainTextAuthProvider

In [3]:
cluster_cassandra = Cluster(['127.0.0.1'], port=9042)

In [4]:
session_cassandra = cluster_cassandra.connect()

In [5]:
command = """
CREATE KEYSPACE IF NOT EXISTS source

WITH replication = {'class':'SimpleStrategy', 'replication_factor' : 2};
"""

In [6]:
session_cassandra.execute(command)

In [7]:
command = """
CREATE TABLE IF NOT EXISTS source.employees (
   no int PRIMARY KEY,
   name text)
"""

In [8]:
session_cassandra.execute(command)

In [10]:
command = """
USE source
"""

In [11]:
session_cassandra.execute(command)

In [14]:
command = """
insert into source.employees (no, name) VALUES(1, 'Varun')
"""

In [15]:
session_cassandra.execute(command)

In [18]:
!pip install pandas
import pandas as pd

Collecting pandas
  Downloading pandas-2.1.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.3/12.3 MB 40.0 MB/s eta 0:00:0000:0100:01
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 KB 27.6 MB/s eta 0:00:00
Collecting pytz>=2020.1
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 502.5/502.5 KB 34.9 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in /pyenv/lib/python3.10/site-packages (from pandas) (2.8.2)
Collecting numpy>=1.22.4
  Downloading numpy-1.26.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 18.2/18.2 MB 68.9 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: six>=1.5 in /pyenv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.0 pandas-2.1.1 pytz-2023.3.post1 tzdata-2023.3

In [25]:
dfemployees = pd.read_csv("employees.csv")

In [26]:
dfemployees

   no     name
0   1     Atin
1   2   Chetan
2   3    Badri
3   4   Satish
4   5   Suresh
5   6  Sandeep
6   7   Manish
7   8    Parul
8   9    Pooja
9  10  Jaynesh

In [41]:
for emp in dfemployees.iterrows():
    #print(emp[0])
    emp_no = emp[1][0]
    emp_name = emp[1][1]
    #print(emp_no, emp_name)
    #print("--------------")
    command = f"""
    insert into source.employees (no, name) VALUES({emp_no}, '{emp_name}')
    """
    session_cassandra.execute(command)

/tmp/ipykernel_2807/2331190616.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  emp_no = emp[1][0]
/tmp/ipykernel_2807/2331190616.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  emp_name = emp[1][1]