




```
source /pyenv/bin/activate
sudo mkdir -p /workdir
sudo chmod -R 777 /workdir
cd /workdir
pip install jupyter
nohup jupyter notebook --ip 0.0.0.0 --port 8888 &
```

```
sudo apt install unzip
pip install cassandra-driver
curl https://certs.secureserver.net/repository/sf-class2-root.crt -O
curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
unzip awscliv2.zip
sudo ./aws/install
aws configure
```

In [2]:
from cassandra.cluster import Cluster
from ssl import SSLContext, PROTOCOL_TLSv1_2 , CERT_REQUIRED
from cassandra.auth import PlainTextAuthProvider

In [3]:
ssl_context = SSLContext(PROTOCOL_TLSv1_2 )
ssl_context.load_verify_locations('sf-class2-root.crt')

/tmp/ipykernel_137903/972152945.py:1: DeprecationWarning: ssl.PROTOCOL_TLSv1_2 is deprecated
  ssl_context = SSLContext(PROTOCOL_TLSv1_2 )

In [4]:
ssl_context.verify_mode = CERT_REQUIRED
auth_provider = PlainTextAuthProvider(username='u02', password='')

In [6]:
cluster = Cluster(['cassandra.us-east-1.amazonaws.com'], ssl_context=ssl_context, auth_provider=auth_provider, port=9142)

In [7]:
session = cluster.connect()

NoHostAvailable: ('Unable to connect to any servers', {'3.234.248.234:9142': AuthenticationFailed('Failed to authenticate to 3.234.248.234:9142: Error from server: code=0100 [Bad credentials] message="Provided username u02 and/or password are incorrect"')})

In [8]:
r = session.execute('select * from system_schema.keyspaces')
print(r.current_rows)

NameError: name 'session' is not defined

In [9]:
rows = session.execute("SELECT * FROM ag_aws_ks.employees")
print(rows)

NameError: name 'session' is not defined

In [10]:
for row in rows:
    print(row)

NameError: name 'rows' is not defined

In [12]:
from cassandra.cluster import Cluster

cluster2 = Cluster(['localhost'], port=9042)
session2 = cluster2.connect()

In [18]:
command = """
CREATE KEYSPACE IF NOT EXISTS target

WITH replication = {'class':'SimpleStrategy', 'replication_factor' : 2};
"""

In [19]:
session2.execute(command)

In [20]:
command = """
CREATE TABLE IF NOT EXISTS target.employees (
   no int PRIMARY KEY,
   name text)
"""

In [21]:
session2.execute(command)

In [22]:
rows = session.execute("SELECT * FROM ag_aws_ks.employees")
print(rows)

<cassandra.cluster.ResultSet object at 0x7f79d25a6ad0>

In [23]:
for row in rows:
    print(row[0], row[1])
    session2.execute(f"insert into target.employees(no, name) values ({row[0]}, '{row[1]}')")

1 Atin

In [24]:
rows2 = session2.execute("SELECT * FROM target.employees")

for row2 in rows2:
    print(row2)

Row(no=1, name='Atin')

In [25]:
! pip install amazon-dax-client
! pip install boto3

Requirement already satisfied: amazon-dax-client in /pyenv/lib/python3.10/site-packages (2.0.3)
Requirement already satisfied: botocore>=1.20.35,~=1.20 in /pyenv/lib/python3.10/site-packages (from amazon-dax-client) (1.31.62)
Requirement already satisfied: six~=1.11 in /pyenv/lib/python3.10/site-packages (from amazon-dax-client) (1.16.0)
Requirement already satisfied: antlr4-python3-runtime<=4.9.3,>=4.7.2,~=4.7 in /pyenv/lib/python3.10/site-packages (from amazon-dax-client) (4.9.3)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /pyenv/lib/python3.10/site-packages (from botocore>=1.20.35,~=1.20->amazon-dax-client) (1.0.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /pyenv/lib/python3.10/site-packages (from botocore>=1.20.35,~=1.20->amazon-dax-client) (2.8.2)
Requirement already satisfied: urllib3<2.1,>=1.25.4 in /pyenv/lib/python3.10/site-packages (from botocore>=1.20.35,~=1.20->amazon-dax-client) (2.0.6)
Requirement already satisfied: boto3 in /pyenv/lib/python3.10/site-packages (1.28.62)
Requirement already satisfied: botocore<1.32.0,>=1.31.62 in /pyenv/lib/python3.10/site-packages (from boto3) (1.31.62)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /pyenv/lib/python3.10/site-packages (from boto3) (1.0.1)
Requirement already satisfied: s3transfer<0.8.0,>=0.7.0 in /pyenv/lib/python3.10/site-packages (from boto3) (0.7.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /pyenv/lib/python3.10/site-packages (from botocore<1.32.0,>=1.31.62->boto3) (2.8.2)
Requirement already satisfied: urllib3<2.1,>=1.25.4 in /pyenv/lib/python3.10/site-packages (from botocore<1.32.0,>=1.31.62->boto3) (2.0.6)
Requirement already satisfied: six>=1.5 in /pyenv/lib/python3.10/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.32.0,>=1.31.62->boto3) (1.16.0)

In [26]:
import boto3

In [27]:
dyn_resource = boto3.resource('dynamodb', region_name="us-east-1")

In [28]:
table_name = 'TryDaxTable'
params = {
    'TableName': table_name,
    'KeySchema': [
        {'AttributeName': 'partition_key', 'KeyType': 'HASH'},
        {'AttributeName': 'sort_key', 'KeyType': 'RANGE'}
    ],
    'AttributeDefinitions': [
        {'AttributeName': 'partition_key', 'AttributeType': 'N'},
        {'AttributeName': 'sort_key', 'AttributeType': 'N'}
    ],
    'ProvisionedThroughput': {
        'ReadCapacityUnits': 10,
        'WriteCapacityUnits': 10
    }
}

In [60]:
try:
    table = dyn_resource.create_table(**params)
    print(f"Creating {table_name}...")
    table.wait_until_exists()
except:
    print("Error")

Error

In [62]:
table = dyn_resource.Table(table_name)

In [63]:
key_count = 10
item_size = 10

some_data = 'X' * item_size
for partition_key in range(1, key_count + 1):
    for sort_key in range(1, key_count + 1):
        table.put_item(Item={
            'partition_key': partition_key,
            'sort_key': sort_key,
            'some_data': some_data
        })
        print(f"Put item ({partition_key}, {sort_key}) succeeded.")

Put item (1, 1) succeeded.
Put item (1, 2) succeeded.
Put item (1, 3) succeeded.
Put item (1, 4) succeeded.
Put item (1, 5) succeeded.
Put item (1, 6) succeeded.
Put item (1, 7) succeeded.
Put item (1, 8) succeeded.
Put item (1, 9) succeeded.
Put item (1, 10) succeeded.
Put item (2, 1) succeeded.
Put item (2, 2) succeeded.
Put item (2, 3) succeeded.
Put item (2, 4) succeeded.
Put item (2, 5) succeeded.
Put item (2, 6) succeeded.
Put item (2, 7) succeeded.
Put item (2, 8) succeeded.
Put item (2, 9) succeeded.
Put item (2, 10) succeeded.
Put item (3, 1) succeeded.
Put item (3, 2) succeeded.
Put item (3, 3) succeeded.
Put item (3, 4) succeeded.
Put item (3, 5) succeeded.
Put item (3, 6) succeeded.
Put item (3, 7) succeeded.
Put item (3, 8) succeeded.
Put item (3, 9) succeeded.
Put item (3, 10) succeeded.
Put item (4, 1) succeeded.
Put item (4, 2) succeeded.
Put item (4, 3) succeeded.
Put item (4, 4) succeeded.
Put item (4, 5) succeeded.
Put item (4, 6) succeeded.
Put item (4, 7) succeeded.
Put item (4, 8) succeeded.
Put item (4, 9) succeeded.
Put item (4, 10) succeeded.
Put item (5, 1) succeeded.
Put item (5, 2) succeeded.
Put item (5, 3) succeeded.
Put item (5, 4) succeeded.
Put item (5, 5) succeeded.
Put item (5, 6) succeeded.
Put item (5, 7) succeeded.
Put item (5, 8) succeeded.
Put item (5, 9) succeeded.
Put item (5, 10) succeeded.
Put item (6, 1) succeeded.
Put item (6, 2) succeeded.
Put item (6, 3) succeeded.
Put item (6, 4) succeeded.
Put item (6, 5) succeeded.
Put item (6, 6) succeeded.
Put item (6, 7) succeeded.
Put item (6, 8) succeeded.
Put item (6, 9) succeeded.
Put item (6, 10) succeeded.
Put item (7, 1) succeeded.
Put item (7, 2) succeeded.
Put item (7, 3) succeeded.
Put item (7, 4) succeeded.
Put item (7, 5) succeeded.
Put item (7, 6) succeeded.
Put item (7, 7) succeeded.
Put item (7, 8) succeeded.
Put item (7, 9) succeeded.
Put item (7, 10) succeeded.
Put item (8, 1) succeeded.
Put item (8, 2) succeeded.
Put item (8, 3) succeeded.
Put item (8, 4) succeeded.
Put item (8, 5) succeeded.
Put item (8, 6) succeeded.
Put item (8, 7) succeeded.
Put item (8, 8) succeeded.
Put item (8, 9) succeeded.
Put item (8, 10) succeeded.
Put item (9, 1) succeeded.
Put item (9, 2) succeeded.
Put item (9, 3) succeeded.
Put item (9, 4) succeeded.
Put item (9, 5) succeeded.
Put item (9, 6) succeeded.
Put item (9, 7) succeeded.
Put item (9, 8) succeeded.
Put item (9, 9) succeeded.
Put item (9, 10) succeeded.
Put item (10, 1) succeeded.
Put item (10, 2) succeeded.
Put item (10, 3) succeeded.
Put item (10, 4) succeeded.
Put item (10, 5) succeeded.
Put item (10, 6) succeeded.
Put item (10, 7) succeeded.
Put item (10, 8) succeeded.
Put item (10, 9) succeeded.
Put item (10, 10) succeeded.

In [64]:
from boto3.dynamodb.conditions import Key

In [65]:
partition_key = 5
sort_keys = (2, 9)

In [66]:
key_condition_expression = Key('partition_key').eq(partition_key) & Key('sort_key').between(*sort_keys)

In [67]:
out = table.query(KeyConditionExpression=key_condition_expression)

In [68]:
for r in out['Items']:
    print(r)

{'some_data': 'XXXXXXXXXX', 'sort_key': Decimal('2'), 'partition_key': Decimal('5')}
{'some_data': 'XXXXXXXXXX', 'sort_key': Decimal('3'), 'partition_key': Decimal('5')}
{'some_data': 'XXXXXXXXXX', 'sort_key': Decimal('4'), 'partition_key': Decimal('5')}
{'some_data': 'XXXXXXXXXX', 'sort_key': Decimal('5'), 'partition_key': Decimal('5')}
{'some_data': 'XXXXXXXXXX', 'sort_key': Decimal('6'), 'partition_key': Decimal('5')}
{'some_data': 'XXXXXXXXXX', 'sort_key': Decimal('7'), 'partition_key': Decimal('5')}
{'some_data': 'XXXXXXXXXX', 'sort_key': Decimal('8'), 'partition_key': Decimal('5')}
{'some_data': 'XXXXXXXXXX', 'sort_key': Decimal('9'), 'partition_key': Decimal('5')}